.section {
    color: #6d9cca;
}

.job-header {
    padding-top: 0.5em;
    padding-bottom: 0;
}

.job-body {
    padding-top: 0;
    padding-bottom: 0;
}

.job-footer {
    padding-top: 0;
    padding-bottom: 1em;
    margin: 0;
}

.job-dates {
    padding-top: inherit;
    padding-bottom: inherit;
    width: 30%;
    font-size: 0.8em;
    text-align: right;
}

.job-title {
    padding-top: inherit;
    padding-bottom: inherit;
    font-weight: bold;
    color: #ffffff;
}

.job-description {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.8em;
}

.company-name {
    font-weight: bold;
}

tr.no-border td {
    border: none;
}

.badge {
    background-color: #4a4a4a;
    color: white;
    padding: 2px 4px;
    text-align: center;
    border-radius: 5px;
    font-size: 0.8em;
}

.footer {
    margin-top: 3.0em;
}

.fineprint {
    text-align: center;
    font-size: 0.6em;
    margin-bottom: 1.0em;
}

.check-tog {
    display: none;
}

.label-tog {
    display: inline;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.label-less {
    display: none;
}

[id^=tog], #content {
    font-size: 0;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 1s;
    transition: opacity 1s;
}

[id^=tog]:checked ~ #content {
    font-size: inherit;
    max-height: 100vh;
    opacity: 1;
    visibility: visible;
}

[id^=tog]:checked ~ .label-tog .label-more {
    display: none;
}

[id^=tog]:checked ~ .label-tog .label-less {
    display: inherit;
}

[id^=tog] ~ #content br {
    display: none;
}

[id^=tog]:checked ~ #content br {
    display: inherit;
}